@font-face {
  font-family: 'Vazir';
  src: url('/fonts/Vazir-regular.woff2') format('woff2');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Vazir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  font-size: 15;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.light-bg-input-autofill input:-webkit-autofill,
.light-bg-input-autofill input:-webkit-autofill:hover,
.light-bg-input-autofill input:-webkit-autofill:focus,
.light-bg-input-autofill input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #20403c;
  transition: background-color 5000s ease-in-out 0s;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
